<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{SUPPLIER_NEW})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/admin/suppliers')}"
           class="btn-link btn-sm" th:text="#{BACK}"></a>
    </div>
    <div class="container h-100">
        <div th:replace="supplier/form :: form(#{SUPPLIER_NEW})"></div>
    </div>
</body>
</html>