<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{SUPPLIER_DELETE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>

    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/admin/suppliers')}" th:text="#{BACK}"></a>
    </div>
    <div class="container h-100">
        <div class="col-12 col-md-12 col-lg-12">
            <h1 class="text-center">
                <span th:object="${supplier}" th:text="*{name} + ' ' + #{SUPPLIER_DELETE}"></span></h1>
            <p class="text-center" th:text="#{SUPPLIER_DELETE_PROMPT}"></p>
            <div class="col col-sm-10 col-md-8 col-lg-6 m-auto">
                <div th:replace="fragments/main :: messages"></div>
                <form th:action="${action}" th:object="${supplier}" method="post">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger flat-corners" th:text="#{DELETE}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>