<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 col-md-12 col-lg-12" th:fragment="form(caption)">
    <h1 class="text-center" th:text="${caption}"></h1>
    <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
        <div th:replace="fragments/main :: messages"></div>
        <form th:action="${action}" th:object="${supplier}" method="post">
            <label for="name" th:text="#{NAME}"></label>
            <div class="text-danger" th:errors="*{name}"></div>
            <input id="name" class="form-control flat-corners" autofocus th:field="*{name}">

            <label for="contactName" th:text="#{CONTACT_NAME}"></label>
            <div class="text-danger" th:errors="*{contactName}"></div>
            <input id="contactName" class="form-control flat-corners" th:field="*{contactName}">

            <label for="contactEmail" th:text="#{CONTACT_EMAIL}"></label>
            <div class="text-danger" th:errors="*{contactEmail}"></div>
            <input id="contactEmail" class="form-control flat-corners" th:field="*{contactEmail}">

            <label for="contactPhone" th:text="#{CONTACT_PHONE}"></label>
            <div class="text-danger" th:errors="*{contactPhone}"></div>
            <input id="contactPhone" class="form-control flat-corners" th:field="*{contactPhone}">

            <label for="address" th:text="#{ADDRESS}"></label>
            <div class="text-danger" th:errors="*{address}"></div>
            <input id="address" class="form-control flat-corners" th:field="*{address}">

            <label for="city" th:text="#{CITY}"></label>
            <div class="text-danger" th:errors="*{city}"></div>
            <input id="city" class="form-control flat-corners" th:field="*{city}">

            <label for="postalCode" th:text="#{POSTAL_CODE}"></label>
            <div class="text-danger" th:errors="*{postalCode}"></div>
            <input id="postalCode" class="form-control mb-2 flat-corners" th:field="*{postalCode}">

            <input type="hidden" name="id" th:value="*{id}"/>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success flat-corners" th:text="#{SAVE}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>