<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{SUPPLIERS})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm"><a href="/admin/suppliers/create" th:text="#{SUPPLIER_NEW}"></a></div>
    <a class="btn-link ml-2"
       data-toggle="collapse"
       href="#filter"
       role="button"
       aria-expanded="false"
       aria-controls="filter"
       th:text="#{FILTERS}"></a>
    <div th:object="${supplierFilterForm}" th:class="*{name != null ? 'collapse show' : 'collapse'}" id="filter">
        <div class="card card-body ml-2">
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/admin/suppliers/filter}"  method="get">
                    <label for="name" th:text="#{NAME}"></label>
                    <div class="text-danger" th:errors="*{name}"></div>
                    <input id="name" class="form-control form-control-sm mb-2 flat-corners" th:field="*{name}">
                        <input type="submit"
                               th:value="#{FILTER}"
                               class="btn btn-outline-primary btn-sm form-control mb-2 flat-corners">
                </form>
            </div>
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/admin/suppliers/clear}" method="post">
                    <button id="resetFilter"
                            type="submit"
                            th:text="#{FILTER_CLEAR}"
                            class="btn btn-outline-secondary btn-sm form-control mb-2 flat-corners"></button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/main :: messages"></div>
    <div th:if="${pager != null}" th:object="${supplierFilterForm}" class="mr-2">
        <form th:replace="fragments/main :: pager-form(@{/admin/suppliers},~{ :: #hiddenFields})">
            <div id="hiddenFields" class="d-none">
                <input th:if="*{name != null}" type="hidden" th:field="*{name}">
            </div>
        </form>
    </div>

    <table class="table table-striped ml-2">
        <thead>
            <tr>
                <th th:text="#{NAME}">Név</th>
                <th th:text="#{CONTACT_NAME}"></th>
                <th th:text="#{CONTACT_EMAIL}"></th>
                <th th:text="#{CONTACT_PHONE}"></th>
                <th th:text="#{CITY}"></th>
                <th colspan="2" th:text="#{ACTIONS}"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(supplierList)}">
            <td colspan="6"><b th:text="#{SUPPLIERS_NONE}"></b></td>
        </tr>
        <tr th:each="supplier : ${supplierList}">
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.contactName}"></td>
            <td th:text="${supplier.contactEmail}"></td>
            <td th:text="${supplier.contactPhone}"></td>
            <td th:text="${supplier.city}"></td>
            <td colspan="2">
                <a th:href="@{/admin/suppliers/edit(id=${supplier.id})}" th:text="#{EDIT}"></a>
                <a th:href="@{/admin/suppliers/delete(id=${supplier.id})}"
                   class="text-danger" th:text="#{DELETE}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{/js/pager.js}"></script>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>