<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{LOGIN})"></head>
<body>
    <div class="d-flex justify-content-center mt-5">
        <form th:action="@{/auth/login}" method="post">
            <h1 class="text-center" th:text="#{LOGIN_TITLE}"></h1>
            <div th:replace="fragments/main :: messages"></div>
            <div>
                <label for="username" th:text="#{USERNAME}"></label>
                <input type="email" id="username" name="username"
                       class="form-control form-control-sm flat-corners" autofocus>
            </div>
            <div>
                <label for="password" th:text="#{PASSWORD}"></label>
                <input type="password" id="password" name="password"
                       class="form-control form-control-sm mb-2 flat-corners">
            </div>
            <div class="text-center">
                <button type="submit" th:text="#{LOGIN}" class="btn btn-primary flat-corners"></button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>