<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Felhasználó Módosítás</title>
</head>
<body>
<a href="/admin/profiles">Vissza</a>
<h1><span th:text="${profileForm.lastName + ', ' + profileForm.firstName}"></span> Profil módosítás</h1>
<div th:include="profile/form :: form"></div>
</body>
</html>