<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form">
    <ul th:if="${messages != null}">
        <li th:each="message : ${messages}" th:class="${message.type}" th:text="${message.text}"></li>
    </ul>
    <div></div>
    <form th:action="${action}" th:object="${profileForm}" method="post">
        <div>
            <div th:errors="*{departmentId}"></div>
            <label for="departmentId">Részleg</label>
            <select id="departmentId" th:field="*{departmentId}">
                <option value="0">Válasszon egy részleget</option>
                <option
                        th:each="department : ${profileForm.departments}"
                        th:value="${department.id}"
                        th:text="${department.name}" th:selected="*{departmentId}"></option>
            </select>
        </div>
        <div>
            <label for="lastName">Vezetéknév</label>
            <input id="lastName" th:field="*{lastName}">
            <div th:errors="*{lastName}"></div>
        </div>
        <div>
            <label for="firstName">Keresztnév</label>
            <input id="firstName" th:field="*{firstName}">
            <div th:errors="*{firstName}"></div>
        </div>
        <div>
            <label for="phone1">Tel. 1</label>
            <input id="phone1" th:field="*{phone1}">
            <div th:errors="*{phone1}"></div>
        </div>
        <div>
            <label for="phone2">Tel. 2</label>
            <input id="phone2" th:field="*{phone2}">
            <div th:errors="*{phone2}"></div>
        </div>
        <input type="hidden" name="id" th:value="${profileForm.id}"/>
        <input type="hidden" th:field="*{userId}"/>
        <input type="submit" value="Mentés">
    </form>
</div>
</body>
</html>