<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head ('Profilok')"></head>
<body>
<div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
<h1>Profilok</h1>
<ul th:if="${messages != null}">
    <li th:each="message : ${messages}" th:class="${message.type}" th:text="${message.text}"></li>
</ul>

<form action="/admin/profiles" th:object="${profileFilterForm}" method="get">
    <label for="lastname">Vezetéknév</label>
    <input id="lastname" th:field="*{lastName}">
    <select name="departmentId" id="departmentId">
        <option value="0">Részlegek</option>
        <option
                th:each="department : ${departmentList}"
                th:value="${department.id}"
                th:text="${department.name}"></option>
    </select>
    <input type="submit" value="szűrés">
    <button id="resetFilter" type="button">szűrő törlés</button>
</form>
<div>
    <select name="currentPage" id="currentPage">
        <option
                th:each="i : ${#numbers.sequence(0, pager.getPages())}"
                th:value="${i}"
                th:text="${i + 1}"
                th:selected="${pager.getCurrentPage() == i}"></option>
    </select>
    <span th:text="${#strings.concat('/',pager.getPages() + 1)}">/</span>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Vezetéknév</th>
            <th>Keresztnév</td></th>
            <th>Tel 1.</th>
            <th>Tel 2.</th>
            <th>Részleg</th>
            <th>Felhasználónév</th>
            <th>Szerepkőr</th>
            <th colspan="2">Műveletek</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(profileList)}">
        <td colspan="2"><b>Nincsenek Profilok</b></td>
    </tr>
    <tr th:each="profile : ${profileList}">
        <td th:text="${profile.lastName}"></td>
        <td th:text="${profile.firstName}"></td>
        <td th:text="${profile.phone1}"></td>
        <td th:text="${profile.phone2}"></td>
        <td th:text="${profile.department.name}"></td>
        <td th:text="${profile.userId} ? ${profile.userId}"></td>
        <td th:text="${profile.role != null} ? #{${profile.role}}"></td>
        <td colspan="2">
            <a th:href="@{/admin/profiles/edit(id=${profile.id})}">Módosítás</a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    document.getElementById('resetFilter').addEventListener('click',  function() {
        window.location.href = "/admin/profiles";
    });
</script>
</body>
</html>