<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDER_ITEM_DELETE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <a th:href="@{/my/orders/edit(id=${orderItem.getOrderId()})}" class="ml-2"
       th:text="#{ORDER_BACK_TO}"></a>
    <div class="d-flex flex-column align-items-center">
        <h1>Sor Törlés</h1>
        <p th:text="#{ORDER_ITEM_DELETE_PROMPT}"></p>
        <form th:action="${action}" th:object="${orderItem}" method="post">
            <input type="hidden" name="lineNumber" th:value="*{lineNumber}">
            <input type="hidden" name="orderId" th:value="*{orderId}">
            <button type="submit" class="btn btn-danger flat-corners mb-2" th:text="#{DELETE}"></button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{NAME}"></th>
                <th th:text="#{DESCRIPTION}"></th>
                <th th:text="#{PIECES}"></th>
                <th th:text="#{UNIT_PRICE}"></th>
                <th th:text="#{GROSS_VALUE}"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:object="${orderItem}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{quantity}"></td>
            <td th:text="*{#numbers.formatDecimal(unitPrice, 1, 'POINT', 2, 'COMMA')}"></td>
            <td th:text="*{#numbers.formatDecimal(total, 1,'POINT', 2,'COMMA')}"></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>