<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDER_ITEM_EDIT})"></head>
<body>
    <nav th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></nav>
    <div class="nav-linked-sm">
        <a th:href="@{/my/orders/edit(id=${orderItem.getOrderId()})}" th:text="#{ORDER_BACK_TO}"></a>
    </div>
    <h1 class="text-center" th:text="#{ORDER_ITEM_EDIT('PO# ' + ${orderItem.orderId})}"></h1>
    <div th:include="myorder/item/form :: form"></div>
    <div th:include="myorder/item/items :: table(false)"></div>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>