<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 col-md-12 col-lg-12" th:fragment="form">
    <div th:replace="fragments/main :: messages"></div>
    <div th:include="myorder/supplier_header :: supplier_header" th:object="${orderForm.order}"></div>
    <div class="col col-sm-8 col-md-5 col-lg-3 col-xl-3 m-auto">
        <form th:action="${action}" th:object="${orderItem}" method="post">
            <div>
                <label for="name" th:text="#{NAME}"></label>
                <div class="text-danger" th:errors="*{name}"></div>
                <input id="name" class="form-control flat-corners" autofocus th:field="*{name}">
            </div>
            <div>
                <label for="description" th:text="#{DESCRIPTION}"></label>
                <div class="text-danger" th:errors="*{description}"></div>
                <textarea id="description" class="form-control flat-corners" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="quantity" th:text="#{PIECES}"></label>
                <div class="text-danger" th:errors="*{quantity}"></div>
                <input id="quantity" class="form-control flat-corners" th:field="*{quantity}">
            </div>
            <div>
                <label for="unitPrice" th:text="#{UNIT_PRICE}"></label>
                <div class="text-danger" th:errors="*{unitPrice}"></div>
                <input id="unitPrice" class="form-control mb-2 flat-corners" th:field="*{unitPrice}">
            </div>
            <div>
                <input type="hidden" th:field="*{lineNumber}">
                <input type="hidden" th:field="*{orderId}"/>
                <div class="d-flex justify-content-center mb-2 flat-corners">
                    <button type="submit" class="btn btn-success flat-corners" th:text="#{SAVE}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>