<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="table(showActions)" th:if="${!#lists.isEmpty(orderForm.order.items)}" class="ml-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th th:text="#{NAME}"></th>
                    <th th:text="#{DESCRIPTION}"></th>
                    <th th:text="#{PIECES}"></th>
                    <th th:text="#{UNIT_PRICE}"></th>
                    <th th:text="#{GROSS_VALUE}"></th>
                    <th th:if="${showActions}" th:text="#{ACTIONS}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : *{orderForm.order.items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(item.unitPrice, 1, 'POINT', 2, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatDecimal(item.total, 1,'POINT', 2,'COMMA')}"></td>
                    <td th:if="${showActions}">
                        <a th:href="@{/my/orders/item/edit(orderId=${item.orderId},lineNumber=${item.lineNumber})}"
                           th:text="#{EDIT}"></a>
                        <a th:href="@{/my/orders/item/delete(orderId=${item.orderId},lineNumber=${item.lineNumber})}"
                           class="text-danger"
                           th:text="#{DELETE}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>