<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{PASSWORD_CHANGE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/admin/users')}" th:text="#{BACK}"></a>
    </div>
    <div class="container h-100">
        <div th:replace="user/password_form :: form(#{PASSWORD_CHANGE})"></div>
    </div>
</body>
</html>