<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{USER_DELETE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/admin/users')}" th:text="#{BACK}"></a>
    </div>
    <div class="container h-100">
        <h1 class="text-center">
            <span th:object="${user}" th:text="*{username} + ' ' + #{USER_DELETE}"></span>
        </h1>
        <p class="text-center" th:text="#{USER_DELETE_PROMPT}"></p>
        <div th:replace="fragments/main :: messages"></div>
        <form th:action="${action}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{username}">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger flat-corners" th:text="Törlés"></button>
            </div>
        </form>
    </div>
</body>
</html>