<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 col-md-12 col-lg-12"  th:fragment="form(caption, editing)">
    <h1 class="text-center"><span th:text="${caption}"></span></h1>
    <form th:action="${action}" th:object="${user}" method="post">
        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
            <div th:replace="fragments/main :: messages"></div>
            <div>
                <label for="username" th:text="#{USERNAME}"></label>
                <div class="text-danger" th:errors="*{username}"></div>
                <input type="text" id="username" class="form-control flat-corners" th:field="*{username}">
            </div>
            <div th:if="${!editing}">
                <label for="password" th:text="#{PASSWORD}"></label>
                <div class="text-danger" th:errors="*{password}"></div>
                <input type="password" id="password"  class="form-control flat-corners" th:field="*{password}">
            </div>
            <div th:if="${!editing}">
                <label for="repeatedPassword" th:text="#{PASSWORD_CONFIRM}"></label>
                <div class="text-danger" th:errors="*{repeatedPassword}"></div>
                <input type="password" id="repeatedPassword" class="form-control flat-corners"
                       th:field="*{repeatedPassword}">
            </div>
            <div>
                <label for="roles" th:text="#{ROLE}"></label>
                <select th:if="${userInfo.userId != user?.id}" id="roles" class="form-control flat-corners"
                        th:field="*{role}">
                    <option th:value="ROLE_USER" th:text="Felhasználó" th:selected="${role}"></option>
                    <option th:value="ROLE_ADMIN" th:text="Rendszergazda" th:selected="${role}"></option>
                </select>
                <span th:if="${userInfo.userId == user?.id}"
                      class="form-control-plaintext font-weight-bold flat-corners"
                      th:text="#{*{role}}"></span>
                <input th:if="${userInfo.userId == user?.id}" type="hidden" th:field="*{role}">
            </div>
            <div>
                <label for="enabled" th:text="#{PERMITTED_QUESTION}"></label>
                <input th:if="${userInfo.userId != user?.id}" id="enabled"
                       class="form-check-inline mt-2 flat-corners" type="checkbox" th:field="*{enabled}">
                <span th:if="${userInfo.userId == user?.id}" th:text="*{enabled} ? #{YES} : #{NO}"></span>
                <input th:if="${userInfo.userId == user?.id}" type="hidden" th:field="*{enabled}">
            </div>
            <div class="mt-2">
                <label for="departmentId" th:text="#{DEPARTMENT}"></label>
                <div class="text-danger" th:errors="*{profile.departmentId}"></div>
                <select id="departmentId" class="form-control flat-corners" th:field="*{profile.departmentId}">
                    <option value="0" th:text="#{DEPARTMENT_SELECT}"></option>
                    <option
                            th:each="department : ${departmentList}"
                            th:value="${department.id}"
                            th:text="${department.name}" th:selected="*{profile.departmentId}"></option>
                </select>
            </div>
            <div>
                <label for="lastName" th:text="#{LAST_NAME}"></label>
                <div class="text-danger" th:errors="*{profile.lastName}"></div>
                <input id="lastName" class="form-control flat-corners" th:field="*{profile.lastName}">
            </div>
            <div>
                <label for="firstName" th:text="#{FIRST_NAME}"></label>
                <div class="text-danger" th:errors="*{profile.firstName}"></div>
                <input id="firstName" class="form-control flat-corners" th:field="*{profile.firstName}">
            </div>
            <div>
                <label for="phone1">Tel. 1</label>
                <div class="text-danger" th:errors="*{profile.phone1}"></div>
                <input id="phone1" class="form-control flat-corners" th:field="*{profile.phone1}">
            </div>
            <div>
                <label for="phone2">Tel. 2</label>
                <div class="text-danger" th:errors="*{profile.phone2}"></div>
                <input id="phone2" class="form-control mb-2 flat-corners" th:field="*{profile.phone2}">
            </div>
                <input type="hidden" th:field="*{profile.userId}"/>
                <input type="hidden"  th:field="*{profile.id}"/>
                <input type="hidden" th:field="*{id}">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success flat-corners" th:text="#{SAVE}"></button>
            </div>
        </div>
    </form>
</div>

</body>
</html>