<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{USERS})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm"><a th:href="@{/admin/users/create}" th:text="#{USER_NEW}"></a></div>
    <a class="btn-link ml-2"
       data-toggle="collapse"
       href="#filter"
       role="button"
       aria-expanded="false"
       aria-controls="filter"
       th:text="#{FILTERS}"></a>

    <div th:object="${userFilterForm}" th:class="*{username != null ? 'collapse show' : 'collapse'}" id="filter">
        <div class="card card-body ml-2">
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/admin/users/filter}"  method="get">
                    <label for="username" th:text="#{USERNAME}"></label>
                    <div class="text-danger" id="username" th:errors="*{username}"></div>
                    <input id="name" class="form-control form-control-sm mb-2 flat-corners"
                           th:field="*{username}">
                    <button type="submit"
                            th:text="#{FILTER}"
                            class="btn btn-outline-primary btn-sm form-control mb-2 flat-corners"></button>
                </form>
            </div>
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/admin/users/clear}" method="post">
                    <button id="resetFilter"
                            type="submit"
                            th:text="#{FILTER_CLEAR}"
                            class="btn btn-outline-secondary btn-sm form-control mb-2 flat-corners"></button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/main :: messages"></div>
    <div th:if="${pager != null}" th:object="${userFilterForm}" class="mr-2">
        <form th:replace="fragments/main :: pager-form(@{/admin/users},~{ :: #hiddenFields})">
            <div id="hiddenFields" class="d-none">
                <input th:if="*{username != null}" type="hidden" th:field="*{username}">
            </div>
        </form>
    </div>

    <table class="table table-striped ml-2">
        <thead>
            <tr>
                <th th:text="#{USERNAME}"></th>
                <th th:text="#{PERMITTED_QUESTION}"></th>
                <th th:text="#{ROLE}"></th>
                <th th:text="#{DEPARTMENT}"></th>
                <th th:text="#{LAST_NAME}"></th>
                <th th:text="#{FIRST_NAME}"></th>
                <th colspan="3" th:text="#{ACTIONS}"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(userList)}">
            <td colspan="7"><b th:text="#{USERS_NONE}"></b></td>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.enabled == true ? 'Igen' : 'Nem'}"></td>
            <td th:text="#{${user.role}}"></td>
            <td th:text="${user.profile.department.name}"></td>
            <td th:text="${user.profile?.lastName}"></td>
            <td th:text="${user.profile?.firstName}"></td>
            <td colspan="3">
                <a th:href="@{/admin/users/edit(id=${user.id})}" th:text="#{EDIT}"></a>
                <a th:if="${userInfo.id != user.profile.id}"
                   th:href="@{/admin/users/changepass(id=${user.id})}" th:text="#{PASSWORD_CHANGE}"></a>
                <a th:if="${userInfo.userId == user.id}"
                   th:href="@{/my/profile/changePassword}" th:text="#{PASSWORD_CHANGE}"></a>
                <a th:if="${userInfo.userId != user.id}"
                   th:href="@{/admin/users/delete(id=${user.id})}" class="text-danger" th:text="#{DELETE}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{/js/pager.js}"></script>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>