<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 col-md-12 col-lg-12"  th:fragment="form(caption)">
    <h1 class="text-center"><span th:text="${caption}"></span></h1>
    <form th:action="${action}" th:object="${user}" method="post">
        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
            <div th:replace="fragments/main :: messages"></div>
            <div>
                <input type="text" id="username" readonly
                       class="form-control-plaintext text-center font-weight-bold" th:field="*{username}">
            </div>
            <div>
                <label for="password" th:text="#{PASSWORD}"></label>
                <div class="text-danger" th:errors="*{password}"></div>
                <input type="password" id="password"  class="form-control flat-corners" autofocus
                       th:field="*{password}">
            </div>
            <div>
                <label for="repeatedPassword" th:text="#{PASSWORD_CONFIRM}"></label>
                <div class="text-danger" th:errors="*{repeatedPassword}"></div>
                <input type="password" id="repeatedPassword" class="form-control mb-2 flat-corners"
                       th:field="*{repeatedPassword}">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success flat-corners" th:text="#{SAVE}"></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>