<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-inline-flex justify-content-center w-100 m-auto" th:fragment="menu(area)">
    <ul class="nav nav-pills m-2">
        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
            <a
                    th:href="@{/my/profile}"
                    th:class="${area == 'profileEdit' ?
                     'nav-link flat-corners active bg-light text-dark' : 'nav-link flat-corners'}"
                    th:text="#{DATA}"></a>
        </li>
        <li class="nav-item">
            <a
                    th:href="@{/my/profile/changePassword}"
                    th:class="${area == 'profileChangePassword' ?
                     'nav-link flat-corners active bg-light text-dark' : 'nav-link flat-corners'}"
                    th:text="#{PASSWORD_CHANGE}"></a>
        </li>
    </ul>
</div>

</body>
</html>