<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-12 col-md-12 col-lg-12" th:fragment="form">
        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
            <p class="text-center">Figyelem! Sikeres módosítás esetén újra be kell lépni a rendszerbe!</p>
            <div th:replace="fragments/main :: messages"></div>
            <form  th:action="@{/my/profile/changePassword}" th:object="${user}" method="post">
                <div>
                    <label for="password" th:text="#{PASSWORD}"></label>
                    <div class="text-danger" th:errors="*{password}"></div>
                    <input type="password" class="form-control flat-corners" id="password" th:field="*{password}">
                </div>
                <div>
                    <label for="repeatedPassword" th:text="#{PASSWORD_CONFIRM}"></label>
                    <div class="text-danger" th:errors="*{repeatedPassword}"></div>
                    <input type="password"
                           class="form-control mb-2 flat-corners"
                           id="repeatedPassword"
                           th:field="*{repeatedPassword}">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success flat-corners" th:text="#{EDIT}"></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>