<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 col-md-12 col-lg-12" th:fragment="form">
    <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
        <div th:replace="fragments/main :: messages"></div>
        <form th:action="${action}" th:object="${user.profile}" method="post">
            <div>
                <label for="department" th:text="#{DEPARTMENT}">Részleg</label>
                <input  id="department" readonly
                        class="form-control-plaintext" th:field="*{department.name}">
            </div>
            <div>
                <label for="lastName" th:text="#{LAST_NAME}"></label>
                <div class="text-danger" th:errors="*{lastName}"></div>
                <input id="lastName" class="form-control flat-corners" th:field="*{lastName}">
            </div>
            <div>
                <label for="firstName" th:text="#{FIRST_NAME}">Keresztnév</label>
                <div class="text-danger" th:errors="*{firstName}"></div>
                <input id="firstName" class="form-control flat-corners" th:field="*{firstName}">
            </div>
            <div>
                <label for="phone1">Tel. 1</label>
                <div class="text-danger" th:errors="*{phone1}"></div>
                <input id="phone1" class="form-control flat-corners" th:field="*{phone1}">
            </div>
            <div>
                <label for="phone2">Tel. 2</label>
                <div class="text-danger" th:errors="*{phone2}"></div>
                <input id="phone2" class="form-control mb-2 flat-corners" th:field="*{phone2}">
            </div>
            <input type="hidden" th:field="${user.id}">
            <input type="hidden" th:field="${user.username}">
            <input type="hidden" th:field="*{departmentId}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{userId}">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success flat-corners" th:text="#{EDIT}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>