<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (title)" sec:authentication="">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <base href="/">
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>
    <div th:fragment="error (message)">
        <div class="d-flex flex-column">
            <div class="justify-content-between font-weight-bold bg-light pl-2" th:text="#{PORS_TITLE}"></div>
        </div>
        <div class="d-flex flex-column mt-5">
            <h1 class="text-center text-danger" th:text="#{ERROR}"></h1>
            <h2 class="text-center" th:text="${message}"></h2>
            <a th:href="@{/}" th:text="#{HOME}" class="text-center font-weight-bold"></a>
        </div>
    </div>

    <div th:fragment="main-tab (area)">
        <div class="d-flex justify-content-between bg-light mb-5">
            <form name="logoutForm" th:hidden="true" method="post" th:action="@{/auth/logout}">
                <input type="submit" value="Logout">
            </form>
            <div class="justify-content-start ml-2 font-weight-bold" th:text="#{PORS_TITLE}"></div>
            <div>
                <b th:text="${#authentication.name}"></b>
                <a href="javascript: logoutForm.submit();" class="mr-2" th:text="#{LOGOUT}"></a>
            </div>
        </div>
        <nav  class="nav nav-tabs">
            <a  th:if="${!#strings.startsWith(area, '/admin/departments')}" sec:authorize="hasRole('ROLE_ADMIN')"
                th:href="@{/admin/departments}"
                class="nav-link"
                th:text="#{DEPARTMENTS}"></a>
            <span  th:if="${#strings.startsWith(area, '/admin/departments')}" sec:authorize="hasRole('ROLE_ADMIN')"
                   class="nav-link active"
                   th:text="#{DEPARTMENTS}"></span>

            <a  th:if="${!#strings.startsWith(area, '/admin/suppliers')}" sec:authorize="hasRole('ROLE_ADMIN')"
                th:href="@{/admin/suppliers}"
                class="nav-link"
                th:text="#{SUPPLIERS}"></a>
            <span th:if="${#strings.startsWith(area, '/admin/suppliers')}" sec:authorize="hasRole('ROLE_ADMIN')"
                  class="nav-link active"
                  th:text="#{SUPPLIERS}"></span>

            <a  th:if="${!#strings.startsWith(area, '/admin/users')}" sec:authorize="hasRole('ROLE_ADMIN')"
                th:href="@{/admin/users}"
                class="nav-link"
                th:text="#{USERS}"></a>
            <span th:if="${#strings.startsWith(area, '/admin/users')}" sec:authorize="hasRole('ROLE_ADMIN')"
                  class="nav-link active"
                  th:text="#{USERS}"></span>

            <a  th:if="${!#strings.startsWith(area,'/my/orders') && area != '/'}"
                th:href="@{/my/orders}"
                class="nav-link"
                th:text="#{ORDERS_MY}"></a>
            <span th:if="${#strings.startsWith(area,'/my/orders') || area == '/'}"
                  class="nav-link active"
                  th:text="#{ORDERS_MY}"></span>

            <a th:if="${!#strings.startsWith(area,'/my/profile')}"
               th:href="@{/my/profile}"
               class="nav-link"
               th:text="#{PROFILE_MY}"></a>
            <span th:if="${#strings.startsWith(area,'/my/profile')}"
                  class="nav-link active"
                  th:text="#{PROFILE_MY}"></span>
        </nav>
    </div>
    <div th:fragment="messages">
        <ul class="list-unstyled"  th:if="${messages != null}">
            <li th:each="message : ${messages}"
                th:class="${'alert alert-dismissible alert-'+ message.type}"
                th:text="${message.text}"></li>
        </ul>
    </div>
    <div th:fragment="scripts" th:hidden="true">
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </div>

    <form th:fragment="pager-form(action,fields)" id="pager" th:action="${action}" method="get"
          class="form-inline justify-content-end">
        <table>
            <tr>
                <th th:text="#{PAGE}"></th>
                <td>
                    <select name="currentPage" id="currentPage"
                            class="form-control form-control-sm font-weight-bold">
                        <option
                                th:each="i : ${#numbers.sequence(1, pager.pagesDisplay)}"
                                th:value="${i}"
                                th:text="${i}"
                                th:selected="${pager.currentPage == i}"></option>
                    </select>
                    <div th:replace="${fields}"></div>
                </td>
                <td th:text="${#strings.concat(' / ',pager.pagesDisplay)}"></td>
                <th th:text="#{PAGE_TOTAL_SHORT}"></th>
            </tr>
        </table>
    </form>

</body>
</html>