<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{DEPARTMENT_NEW})"></head>
<body>
<div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
<div class="nav-linked-sm"><a href="/admin/departments" th:text="#{BACK}"></a></div>
<div class="container h-100">
    <div th:replace="department/form :: form(#{DEPARTMENT_NEW})"></div>
</div>
</body>
</html>