<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{DEPARTMENT_DELETE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm"><a href="/admin/departments" th:text="#{BACK}"></a></div>
    <div class="container h-100">
        <div class="col-12 col-md-12 col-lg-12">
            <h1 class="text-center">
                <span th:object="${department}" th:text="*{name} + ' ' + #{DEPARTMENT_DELETE}"></span></h1>
            <p class="text-center" th:text="#{DEPARTMENT_DELETE_PROMPT}"></p>
            <div class="col col-sm-10 col-md-8 col-lg-6 m-auto">
                <div th:replace="fragments/main :: messages"></div>
                <form  th:action="${action}" th:object="${department}" method="post">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger flat-corners" th:text="#{DELETE}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>