<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-12 col-md-12 col-lg-12" th:fragment="form(caption)">
        <h1 class="text-center" th:text="${caption}"></h1>
        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
            <div th:replace="fragments/main :: messages"></div>
            <form th:action="${action}" th:object="${department}" method="post">
                <label for="name" th:text="#{NAME}"></label>
                <div class="text-danger" th:errors="*{name}"></div>
                <input id="name" class="form-control mb-2 flat-corners"  th:field="*{name}">
                <input type="hidden" name="id" th:value="*{id}"/>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success flat-corners" th:text="#{SAVE}"></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>