<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{DEPARTMENTS})"></head>
<body>
<div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
<div th:replace="fragments/main :: messages"></div>
<div class="nav-linked-sm"><a href="/admin/departments/create" th:text="#{DEPARTMENT_NEW}"></a></div>
<table class="table table-striped ml-2">
    <thead>
        <tr>
            <th>Név</th>
            <th colspan="2" th:text="#{ACTIONS}"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${#lists.isEmpty(departmentList)}">
            <td colspan="2"><b th:text="#{DEPARTMENTS_NONE}"></b></td>
        </tr>
    <tr th:each="department : ${departmentList}">
        <td th:text="${department.getName()}"></td>
        <td colspan="2">
            <a th:href="@{/admin/departments/edit(id=${department.id})}" th:text="#{EDIT}"></a>
            <a th:href="@{/admin/departments/delete(id=${department.id})}"
               class="text-danger" th:text="#{DELETE}" ></a>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/main :: scripts"></div>
</body>
</html>