<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDER_CLOSE})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm">
        <a id="backLink" th:href="${userInfo.getUri('/my/orders')}" th:text="#{ORDERS_BACK_TO}"></a>
    </div>
    <div th:replace="fragments/main :: messages"></div>
    <h1 class="text-center" th:text="#{ORDER_CLOSE}"></h1>
    <h3 class="text-center" th:if="${statusCode} == 1" th:text="#{TO_COMPLETED_STATUS}"></h3>
    <h3 class="text-center" th:if="${statusCode} == 2" th:text="#{TO_CANCELED_STATUS}"></h3>
    <p class="text-center" th:text="#{ORDER_CLOSE_PROMPT}"></p>
    <div class="d-flex justify-content-center mt-3">
        <form id="closeOrderForm" th:action="${action}" method="post">
            <input type="hidden" name="id" th:value="${order.id}">
            <input type="hidden" name="status" th:value="${statusCode}">
            <input type="submit" class="btn btn-danger flat-corners" th:value="#{CLOSING}">
            <input type="button"
                   class="btn btn-secondary flat-corners"
                   name="cancelButton"
                   id="cancelButton"
                   th:value="#{CANCEL}">
        </form>
    </div>
    <table class="table table-striped mt-5 ml-2">
        <thead>
            <tr>
                <th scope="col" th:text="#{PO_NUM}"></th>
                <th scope="col" th:text="#{CREATED}"></th>
                <th scope="col" th:text="#{NAME}"></th>
                <th scope="col" th:text="#{CONTACT_NAME}"></th>
                <th scope="col" th:text="#{CONTACT_EMAIL}"></th>
                <th scope="col" th:text="#{CONTACT_PHONE}"></th>
                <th scope="col" th:text="#{CITY}"></th>
                <th scope="col" th:text="#{GROSS_VALUE}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${order.id}"></td>
                <td th:text="${{order.createdAt}}"></td>
                <td th:text="${order.supplier.name}"></td>
                <td th:text="${order.supplier.contactName}"></td>
                <td th:text="${order.supplier.contactEmail}"></td>
                <td th:text="${order.supplier.contactPhone}"></td>
                <td th:text="${order.supplier.city}"></td>
                <td th:text="${#numbers.formatDecimal(order.getTotal(), 1,'POINT', 2,'COMMA')}"></td>
            </tr>
        </tbody>
    </table>
    <script>
        document.getElementById('cancelButton').addEventListener('click', function() {
            window.location.href = `${backLink}`;
        });
    </script>
</body>
</html>