<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDER_NEW})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/my/orders')}" th:text="#{ORDERS_BACK_TO}"></a>
    </div>
    <h1 class="text-center" th:text="#{ORDER_NEW}"></h1>
    <div th:include="myorder/form :: form"></div>
</body>
</html>