<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDERS_EDIT})"></head>
<body>
    <nav th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></nav>
    <div class="nav-linked-sm">
        <a th:href="${userInfo.getUri('/my/orders')}" th:text="#{BACK}"></a>
    </div>
    <h1 class="text-center" th:text="#{ORDERS_EDIT} + ' PO# ' + ${orderForm.order.id}"></h1>
    <table class="table table-striped ml-2">
        <thead>
            <tr>
                <th>#</th>
                <th th:text="#{CREATED}"></th>
                <th th:text="#{STATUS}">Státusz</th>
                <th th:text="#{GROSS_AMOUNT}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${orderForm.order.id}"></td>
                <td th:text="${{orderForm.order.createdAt}}"></td>
                <td th:text="#{${orderForm.order.status}}"></td>
                <th th:text="${#numbers.formatDecimal(orderForm.order.calculateTotal, 1, 'POINT', 2, 'COMMA')}"></th>
            </tr>
        </tbody>
    </table>
    <div th:include="myorder/form :: form"></div>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>