<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form">
    <div th:replace="fragments/main :: messages"></div>
    <form th:action="${action}" th:object="${orderForm.order}" method="post">
        <div class="col col-sm-6 col-md-4 col-lg-6 col-xl-3 ml-2">
            <label for="supplierId" th:text="#{SUPPLIER}"></label>
            <div class="text-danger text-center" th:errors="*{supplierId}"></div>
            <select id="supplierId"
                    class="form-control form-control-sm mb-2 flat-corners"
                    th:field="*{supplierId}">
                <option value="0" th:text="#{SUPPLIER_SELECT}"></option>
                <option
                        th:each="supplier : ${orderForm.suppliers}"
                        th:value="${supplier.id}"
                        th:text="${supplier.name}" th:selected="*{supplierId}"></option>
            </select>
            <button type="submit" class="btn btn-sm btn-success mb-2 flat-corners"
                    th:text="#{${orderForm.order.id == null} ? NEXT : SAVE}"></button>
        </div>
        <div th:include="myorder/supplier_header :: supplier_header"
             th:object="${orderForm.order}" class="ml-2"></div>
        <div th:if="${orderForm.order.id != null}" class="nav-linked-sm">
            <a th:href="@{/my/orders/item/add(orderId=*{id})}" class="ml-3" th:text="#{NEW_ITEM}"></a>
        </div>
        <div th:if="*{!#lists.isEmpty(items)}" class="ml-2">
            <table class="table table-striped">
                <thead>
                    <th th:text="#{NAME}"></th>
                    <th th:text="#{DESCRIPTION}"></th>
                    <th th:text="#{PIECES}"></th>
                    <th th:text="#{UNIT_PRICE}"></th>
                    <th th:text="#{GROSS_VALUE}"></th>
                    <th th:text="#{ACTIONS}"></th>
                </thead>
                <tbody>
                <tr th:each="item : *{items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(item.unitPrice, 1, 'POINT', 2, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatDecimal(item.total, 1,'POINT', 2,'COMMA')}"></td>
                    <td><a th:href="@{/my/orders/item/edit(orderId=${item.orderId},lineNumber=${item.lineNumber})}"
                           th:text="#{EDIT}"></a>
                        <a th:href="@{/my/orders/item/delete(orderId=${item.orderId},lineNumber=${item.lineNumber})}"
                           class="text-danger"
                           th:text="#{DELETE}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{createdAt}">
            <input type="hidden" th:field="*{status}">
            <input type="hidden" th:field="*{userId}">
    </form>
</div>
</body>
</html>