<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDERS_MY})"></head>
<body>
    <div th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></div>
    <div class="nav-linked-sm"><a th:href="@{/my/orders/create}" th:text="#{ORDER_NEW}"></a></div>
    <a class="btn-link ml-2"
       data-toggle="collapse"
       href="#filter"
       role="button"
       aria-expanded="false"
       aria-controls="filter"
       th:text="#{FILTERS}"></a>

    <div th:object="${orderFilterForm}"
         th:class="*{#strings.isEmpty(daysAgo) && #strings.isEmpty(orderStatus) ? 'collapse' : 'collapse show'}"
         id="filter">
        <div class="card card-body ml-2">
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/my/orders}" th:object="${orderFilterForm}" method="get">
                    <select th:field="*{daysAgo}"
                            id="daysAgo"
                            class="form-control form-control-sm mr-1 mb-2 flat-corners">
                        <option th:selected="*{daysAgo == 0}" value="0" th:text="#{ORDER_DATE}"></option>
                        <option th:selected="*{daysAgo == 7}" value="7" th:text="#{PAST_DAY(7)}"></option>
                        <option th:selected="*{daysAgo == 14}" value="14" th:text="#{PAST_DAY(14)}"></option>
                        <option th:selected="*{daysAgo == 30}" value="30" th:text="#{PAST_DAY(30)}"></option>
                        <option th:selected="*{daysAgo == 60}" value="60" th:text="#{PAST_DAY(60)}"></option>
                        <option th:selected="*{daysAgo == 120}" value="120" th:text="#{PAST_DAY(120)}"></option>
                    </select>
                    <select th:field="*{orderStatus}"
                            id="status"
                            class="form-control form-control-sm mr-1 mb-2 flat-corners">
                        <option th:selected="*{orderStatus == 'ALL'}" value="ALL" th:text="#{STATUS}"></option>
                        <option th:selected="*{orderStatus == 'NEW'}" value="NEW" th:text="#{NEW}"></option>
                        <option th:selected="*{orderStatus == 'CLOSED_COMPLETE'}" value="CLOSED_COMPLETE"
                                th:text="#{CLOSED_COMPLETE}"></option>
                        <option th:selected="*{orderStatus == 'CLOSED_CANCELED'}" value="CLOSED_CANCELED"
                                th:text="#{CLOSED_CANCELED}"></option>
                    </select>
                    <button type="submit"
                           th:text="#{FILTER}"
                           class="btn btn-outline-primary btn-sm form-control mb-2 flat-corners"></button>
                </form>
            </div>
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                <form th:action="@{/my/orders/clear}" method="post">
                    <button id="resetFilter"
                            type="submit"
                            th:text="#{FILTER_CLEAR}"
                            class="btn btn-outline-secondary btn-sm form-control mb-2 flat-corners"></button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/main :: messages"></div>
    <div th:if="${pager != null}" th:object="${orderFilterForm}" class="mr-2">
        <form th:replace="fragments/main :: pager-form(@{/my/orders},~{ :: #hiddenFields})">
            <div id="hiddenFields" class="d-none">
                <input th:if="*{daysAgo != null}" type="hidden" th:field="*{daysAgo}">
                <input th:if="*{orderStatus != null}" type="hidden" th:field="*{orderStatus}">
            </div>
        </form>
    </div>
    <table class="table table-striped ml-2">
        <thead>
        <tr>
            <th scope="col" th:text="#{PO_NUM}"></th>
            <th scope="col" th:text="#{CREATED}"></th>
            <th scope="col" th:text="#{STATUS}"></th>
            <th scope="col" th:text="#{NAME}"></th>
            <th scope="col" th:text="#{CONTACT_NAME}"></th>
            <th scope="col" th:text="#{CONTACT_EMAIL}"></th>
            <th scope="col" th:text="#{CONTACT_PHONE}"></th>
            <th scope="col" th:text="#{CITY}"></th>
            <th scope="col" th:text="#{GROSS_VALUE}"></th>
            <th scope="col" colspan="2" th:text="#{ACTIONS}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(orderList)}">
            <td colspan="10"><b th:text="#{ORDERS_NONE}"></b></td>
        </tr>
        <tr th:each="order : ${orderList}">
            <th scope="row" th:text="${order.id}"></th>
            <td th:text="${{order.createdAt}}"></td>
            <td th:text="#{${order.status}}"></td>
            <td th:text="${order.supplier.name}"></td>
            <td th:text="${order.supplier.contactName}"></td>
            <td th:text="${order.supplier.contactEmail}"></td>
            <td th:text="${order.supplier.contactPhone}"></td>
            <td th:text="${order.supplier.city}"></td>
            <td th:text="${#numbers.formatDecimal(order.getTotal(), 1,'POINT', 2,'COMMA')}"></td>
            <td th:if="${order.status == 'NEW'}">
                <a th:href="@{/my/orders/edit(id=${order.id})}" th:text="#{EDIT}"></a>
                <a th:href="@{/my/orders/show(id=${order.id})}" th:text="#{SHOW}"></a>
                <a th:if="${order.total > 0}"
                   th:href="@{/my/orders/close(id=${order.id},status=1)}" th:text="#{COMPLETED}"></a>
                <a th:href="@{/my/orders/close(id=${order.id},status=2)}"
                   class="text-danger" th:text="#{ORDER_CANCEL}"></a>
            </td>
            <td th:if="${order.status != 'NEW'}">
                <a th:href="@{/my/orders/show(id=${order.id})}" th:text="#{SHOW}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{/js/pager.js}"></script>
    <div th:replace="fragments/main :: scripts"></div>
</body>
</html>