<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: head (#{ORDER_SHOW})"></head>
<body>
    <nav th:replace="fragments/main :: main-tab (${#httpServletRequest.requestURI})"></nav>
    <div class="nav-linked-sm"><a th:href="${userInfo.getUri('/my/orders')}" th:text="#{BACK}"></a></div>
        <h1 class="ml-2" th:text="#{ORDER}"></h1>
        <table class="table table-striped ml-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{CREATED}"></th>
                    <th th:text="#{STATUS}"></th>
                    <th th:text="#{GROSS_AMOUNT}"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${order.id}"></td>
                    <td th:text="${{order.createdAt}}"></td>
                    <td th:text="#{${order.status}}"></td>
                    <th th:text="${#numbers.formatDecimal(order.calculateTotal, 1, 'POINT', 2, 'COMMA')}"></th>
                </tr>
            </tbody>
        </table>
        <h2 class="ml-2" th:text="#{SUPPLIER}"></h2>
        <div th:if="${order.supplier != null}" th:include="myorder/supplier_header :: supplier_header"
             th:object="${order}"></div>
        <h2 class="ml-2" th:text="#{ITEMS}"></h2>
        <div th:if="${!#lists.isEmpty(order.items)}" >
            <table class="table table-striped ml-2">
                <thead>
                    <tr>
                        <th th:text="#{NAME}"></th>
                        <th th:text="#{DESCRIPTION}"></th>
                        <th th:text="#{PIECES}"></th>
                        <th th:text="#{UNIT_PRICE}"></th>
                        <th th:text="#{GROSS_VALUE}"></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(item.unitPrice, 1, 'POINT', 2, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatDecimal(item.total, 1,'POINT', 2,'COMMA')}"></td>
                </tr>
                <tr>
                    <th scope="row" class="text-right" colspan="4" th:text="#{GROSS_AMOUNT}"></th>
                    <th scope="row"
                        th:text="${#numbers.formatDecimal(order.calculateTotal, 1, 'POINT', 2, 'COMMA')}"></th>
                </tr>
                </tbody>
            </table>
    </div>
    <div th:if="${#lists.isEmpty(order.items)}">
        <p class="ml-2" th:text="#{ORDER_NO_ITEMS}"></p>
    </div>
</body>
</html>