<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="supplier_header" >
    <table class="table table-striped ml-2">
        <thead>
            <th th:text="#{NAME}">Név</th>
            <th th:text="#{CONTACT_NAME}"></th>
            <th th:text="#{CONTACT_EMAIL}"></th>
            <th th:text="#{CONTACT_PHONE}"></th>
            <th th:text="#{ADDRESS}"></th>
            <th th:text="#{CITY}"></th>
            <th th:text="#{POSTAL_CODE}"></th>
            </thead>
        <tbody>
        <tr th:if="*{supplier != null}">
            <td th:text="*{supplier.name}"></td>
            <td th:text="*{supplier.contactName}"></td>
            <th th:text="*{supplier.contactEmail}"></th>
            <td th:text="*{supplier.contactPhone}"></td>
            <td th:text="*{supplier.address}"></td>
            <td th:text="*{supplier.city}"></td>
            <td th:text="*{supplier.postalCode}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>